:root {
  --font-family: "Quicksand", sans-serif;
  --second-family: "Cabin", sans-serif;
}
body {
  width: 100%;
  max-width: 1320px;
  padding: 30px 36px 64px;
  margin: 0 auto;
}
header a {
  text-decoration: none;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}
.header__left {
  display: flex;
  gap: 44px;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.middle__we-got {
  display: flex;
  gap: 48px;
}

.header-logo {
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
}
.green-button {
  padding: 10px 12px;
  background-color: #0f8277;
  border-radius: 4px;
  color: #eee;
  border: none;
  text-decoration: none;
  width: fit-content;
  box-sizing: border-box;
}
.dropbtn {
  cursor: pointer;
  position: relative;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #eee;
}
.dropbtn::after {
  content: url(./images/arrow.svg);
  padding-left: 8px;
}
.dropdown__content {
  min-width: 384px;
  padding: 16px 12px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  visibility: hidden;
  z-index: 1;
}
.dropdown__content-in {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdown-explanation p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  padding-bottom: 5px;
}
.dropdown__content-in a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.dropdown__lane {
  height: 1px;
  background-color: #000;
  flex-grow: 1;
}
.dropdown:hover .dropdown__content {
  visibility: visible;
}
.header-input {
  display: flex;
  align-items: center;
  position: relative;
}
.header-input input {
  min-width: 294px;
  padding: 9px 12px;
  border-radius: 4px;
}
.header-input input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #5c5c5c;
}

.input__icon::after {
  content: url(./images/input-search.svg);
  position: absolute;
  background-color: #0f8277;
  width: 36px;
  height: 36px;
  top: 0;
  right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
/* .input__search {
  background-image: url(./images/input-search.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 36px;
  height: 36px;
  background-color: #0f8277;
  border: none;
} */
.middle__we-got a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.green-txt {
  padding: 10px 12px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #0f8277;
}
.background-color2 {
  background-color: #dbf3ed;
}
.main__intro {
  display: flex;
  margin-bottom: 80px;
}
.intro__txt {
  padding: 170px 94px 184px 110px;
  max-width: 512px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.intro__txt h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #000;
  white-space: nowrap;
}
.intro__txt p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #000;
  max-width: 482px;
}
.intro__button {
  display: flex;
  align-items: center;
  gap: 24px;
}
.intro__button a {
  text-decoration: none;
}
.button-no-background {
  background: none;
  border: 2px solid #0f8277;
  border-radius: 4px;
}
.button__learning {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #eee;
}
.intro__image {
  padding: 39px 54px 30px;
  background-image: url(./images/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.main__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.main__green-txt {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0f8277;
}
.bold-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #000;
}
.title__explanation {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}
.training {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 480px;
  column-gap: 24px;
  margin-bottom: 80px;
}
.training__grid {
  border: 1px solid #dadada;
  border-radius: 8px;
}
.grid-text-container {
  box-sizing: border-box;
  min-height: 210px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.training__image1 {
  background-image: url(./images/academic-training/image-1.png);
  background-position: top;
  background-size: cover;
  width: auto;
  min-height: 270px;
  border-radius: 4px 4px 0 0;
}
.training__image2 {
  background-image: url(./images/academic-training/image-2.png);
  background-position: top;
  background-size: cover;
  width: auto;
  min-height: 270px;
  border-radius: 4px 4px 0 0;
}
.training__image3 {
  background-image: url(./images/academic-training/image-3.png);
  background-position: top;
  background-size: cover;
  width: auto;
  min-height: 270px;
  border-radius: 4px 4px 0 0;
}
.grid__text {
  /* margin-bottom: 52.5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20.5px;
}
.first-grid-txt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.grid-txt-explanation {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #000;
}

.grid__choose-uni1::before {
  content: url(./images/dan-it.svg);
  vertical-align: -34%;
  margin-right: 12px;
}

.grid__choose-uni2::before {
  content: url(./images/hujnia.svg);
  vertical-align: -19%;
  margin-right: 12px;
}
.grid__choose-uni3::before {
  content: url(./images/projector.svg);
  vertical-align: -30%;
  margin-right: 12px;
}
.green-grid-txt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #0f8277;
  text-decoration: none;
}
.get-txt::before {
  content: url(./images/hujniavwlape.svg);
  vertical-align: -25%;
  margin-right: 12px;
}
.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 480px;
  column-gap: 24px;
  margin-bottom: 40px;
}
.courses__image1 {
  background-image: url(./images/popular-courses/image-1.png);
  background-position: top;
  background-size: cover;
  width: auto;
  min-height: 270px;
  border-radius: 4px 4px 0 0;
}
.courses__image2 {
  background-image: url(./images/popular-courses/image-2.png);
  background-position: top;
  background-size: cover;
  width: auto;
  min-height: 270px;
  border-radius: 4px 4px 0 0;
}
.courses__image3 {
  background-image: url(./images/popular-courses/image-3.png);
  background-position: top;
  background-size: cover;
  width: auto;
  min-height: 270px;
  border-radius: 4px 4px 0 0;
}
.courses__image4 {
  background-image: url(./images/popular-courses/image-4.png);
  background-position: top;
  background-size: cover;
  width: auto;
  min-height: 270px;
  border-radius: 4px 4px 0 0;
}
.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.more a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0f8277;
  text-decoration: none;
}
.more::after {
  content: url(./images/arrowright.svg);
  place-self: end;
  margin-left: 18px;
}
.featured-h3 {
  margin-bottom: 40px;
}
.category__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 284px;
  column-gap: 24px;
  margin-bottom: 40px;
}
.featured__examples {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category__featured {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.cooperate {
  margin: 0 -36px;
  padding: 36px;
  text-align: center;
  margin-bottom: 80px;
}
.cooperate__card {
  padding: 44px 0px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.cooperate__text {
  display: flex;
  max-width: 870px;
  align-self: center;
}
.cooperate__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solution-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-bottom: 70px;
}
.text__box {
  padding: 67.5px 68px 67.5px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.box__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: #000;
}
.solution__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-items: center;
  padding-left: 72px;
}
.grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* .grid__item img {
  justify-self: center;
  align-self: center;
} */
/* .border {
  border: 1px solid #dadada;
} */
.border-1 {
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.border-2 {
  border-bottom: 1px solid #dadada;
}
.border-3 {
  border-left: 1px solid #dadada;
}
.plan {
  margin: 0 -36px;
  padding: 80px 36px 100px;
  margin-bottom: 80px;
}
.plan__title {
  text-align: center;
  margin-bottom: 40px;
}
.plan-uppercase {
  text-transform: uppercase;
}

.plan__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 20px;
}
.plan__price {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}
.plan__white {
  background-color: white;
}
.plan__card {
  display: flex;
  flex-direction: column;
  padding: 56px;
  border: 1px solid #0f8277;
  border-radius: 24px;
}
.plan__card-1half {
  display: flex;
  flex-direction: column;
  gap: 27px;
  text-align: center;
}
.plan__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.plan__line {
  height: 2px;
  background-color: #0f8277;
  flex-grow: 0;
  margin-bottom: 48px;
}

.plan__you-get {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.plan__green {
  background-color: #0f8277;
}

.plan__beforeimg::before {
  content: url(./images/galochka.svg);
  margin-right: 22px;
}
.white-text {
  color: white;
}
.white-button {
  color: white;
  border: 2px solid #fff;
  border-radius: 4px;
}
.plan__line-white {
  height: 1px;
  background-color: white;
  flex-grow: 1;
  margin-bottom: 48px;
}
.price-2 {
  margin-bottom: 43px;
}
.price-3 {
  margin-bottom: 46px;
}
.plan__line1 {
  height: 1px;
  background-color: #0f8277;
  flex-grow: 0;
  margin-bottom: 48px;
}
.plan__beforeimg2::before {
  content: url(./images/galochkawhite.svg);
  margin-right: 16px;
}
.our-students {
  margin-bottom: 77px;
}
.our-students h4 {
  text-align: center;
  margin-bottom: 40px;
}
.students__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 24px 24px;
}
.image-of-students {
  width: 1fr;
  height: 1fr;
}
.image-of-students img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-9 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.img-8 {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
}
.img-7 {
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}
.form__background {
  background-image: url(./images/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0.6; */
  margin: 0 -36px;
  background-color: #000;
  position: relative;
  margin-bottom: 64px;
}
.form-position {
  padding: 65px 0 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box {
  max-width: 565px;
  padding: 30px;
  border-radius: 24px;
  background: #dbf3ed;
}
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.input-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-label input {
  min-height: 48px;
  border: 1px solid #0f8277;
  border-radius: 4px;
}
label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 109%;
  color: #000;
}

input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8e8e8e;
  padding: 12px;
}
.more-text textarea {
  min-height: 104px;
  border: 1px solid #0f8277;
  border-radius: 4px;
  resize: none;
}
.more-text textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8e8e8e;
}
.form__button {
  padding: 10px 77px;
  width: fit-content;
  background-color: #0f8277;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #f6fdff;
  border: none;
  border-radius: 4px;
}
.footer-position {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  margin: -80px -36px -64px;
  padding: 80px 36px 64px;
}
.footer-left {
  max-width: 306px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-left__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
}

.footer-left__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.footer__icon {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}
.instagram-icon {
  display: block;
  background-image: url(./images/instagram.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.facebook-icon {
  display: block;
  background-image: url(./images/facebook.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.linked-icon {
  display: block;
  background-image: url(./images/linked.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.copyright-txt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  color: #000;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
